body {
    margin: 0;
    padding: 0;
    font: red;
}

header {
    padding: 20px;
}

button{
    padding: 10px;
    border: none;
    margin: 10px;
    color: mediumvioletred;
}

.dark-theme {
    background-color: #333333;
    color: whitesmoke;

}
.dark-theme{
    background-color: black;
}
body{
    background: cadetblue;
}

.light-theme {
    background-color: whitesmoke;
    color: #333333;
    background-color: rgb(221, 235, 30);
}
